In [2]:
%matplotlib inline

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from collections import defaultdict
import seaborn as sns
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import *
from IPython.display import HTML, display
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn_pandas import DataFrameMapper
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import SimpleImputer, IterativeImputer
from sklearn.pipeline import Pipeline

In [4]:
train = pd.read_csv('./dataset/aug_train.csv')

In [5]:
#train["Gender_num"] = train.gender.replace(['Male', np.nan, 'Female', 'Other'], [0,1,2,3])
train["Relevent_experience_num"] = train.relevent_experience.replace(['Has relevent experience', 'No relevent experience'], [1, 0])
train["Enrolled_university_num"] = train.enrolled_university.replace(['no_enrollment', 'Full time course', 'Part time course',np.nan], [0, 1,0.5,np.nan]) #El nan lo sacamos, 
train["education_level_num"] = train.education_level.replace(['Primary School', 'High School','Graduate', 'Masters', 'Phd',np.nan], [1,2,3,4,5,np.nan]) #El nan lo sacamos, no rellenamos con nada
train["major_discipline_num"] = train.major_discipline.replace(['STEM', 'Business Degree', np.nan, 'Arts', 'Humanities', 'No Major','Other'], ['STEM','Other', np.nan,'Other','Other','No Major','Other'])
train["experience_num"] = train.experience.replace(['>20', '15', '5', '<1', '11', '13', '7', '17', '2', '16', '1', '4','10', '14', '18', '19', '12', '3', '6', '9', '8', '20', np.nan], [21,  15, 5, 0, 11, 13, 7, 17, 2, 16, 1, 4, 10, 14, 18, 19, 12, 3, 6,9, 8, 20, 10])
#train["company_type_num"] = train.company_type.replace([np.nan, 'Pvt Ltd', 'Funded Startup', 'Early Stage Startup', 'Other','Public Sector', 'NGO'], [np.nan, 1,2,3,4,5,6])
train["company_size_num"] = train.company_size.replace([np.nan, '50-99', '<10', '10000+', '5000-9999', '1000-4999', '10/49', '100-500', '500-999'], [np.nan, 100, 10, 20000, 10000,5000,50,500,1000]) #Nos falta aclarar por que usamos feature engineering
train["last_new_job_num"] = train.last_new_job.replace(['1', '>4', 'never', '4', '3', '2', np.nan], [1,5,-1,4,3,2,2])
#train["training_hours"] = train.training_hours.replace(np.nan, 47)   #No reemplazamos los nan

In [7]:
mapper = DataFrameMapper([
    (['gender'], [OneHotEncoder()]),
    (['major_discipline_num'], [OneHotEncoder()]),
    (['company_type'], [OneHotEncoder()]),
    (['company_size_num'], [StandardScaler()]),
    (['last_new_job_num'], [StandardScaler()]),
    (['Enrolled_university_num'], [None])
    (['education_level_num'], [None])
    (['experience_num'], [None])
    (['Relevent_experience_num'], [None])
    (['traomomg_hours'], [None])
])
mapper.fit(train)

TypeError: 'tuple' object is not callable

In [10]:
# vemos como transforma un sample:
sample = train.sample(5, random_state=42)

# Sample original:
sample

,enrollee_id,city_development_index,gender,company_type,training_hours,target,Relevent_experience_num,Enrolled_university_num,education_level_num,major_discipline_num,experience_num,company_size_num,last_new_job_num
9403,9481,0.920,NaN,Pvt Ltd,12,0.0,1,1.0,3.0,STEM,9,50.0,4
6244,15583,0.926,Male,Public Sector,32,0.0,0,1.0,3.0,STEM,9,1000.0,1
13238,14553,0.899,NaN,NaN,83,1.0,0,0.0,3.0,STEM,4,NaN,-1
14015,8598,0.767,Male,NaN,40,1.0,1,1.0,3.0,STEM,5,NaN,4
13588,28138,0.624,Male,NaN,66,0.0,0,0.0,3.0,STEM,2,NaN,1

In [11]:
mapper.transform(sample)

array([[ 0.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  1.        ,  0.        ,
        -0.57671895,  1.15430913],
       [ 0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  1.        ,  0.        ,  0.        ,
        -0.44260082, -0.47760879],
       [ 0.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  1.        ,
                nan, -1.56555406],
       [ 0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  1.        ,
                nan,  1.15430913],
       [ 0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  1.        ,
                nan, -0.47760879]])

In [12]:
mapper.transformed_names_

['gender_x0_Female',
 'gender_x0_Male',
 'gender_x0_Other',
 'gender_x0_nan',
 'major_discipline_num_x0_No Major',
 'major_discipline_num_x0_Other',
 'major_discipline_num_x0_STEM',
 'major_discipline_num_x0_nan',
 'company_type_x0_Early Stage Startup',
 'company_type_x0_Funded Startup',
 'company_type_x0_NGO',
 'company_type_x0_Other',
 'company_type_x0_Public Sector',
 'company_type_x0_Pvt Ltd',
 'company_type_x0_nan',
 'company_size_num',
 'last_new_job_num']

In [14]:
pipe1 = Pipeline([
    ('mapper', mapper),
    ('imputer', SimpleImputer(strategy='mean')),
])
# Lo entrenamos con train
pipe1.fit(train)

pipe2 = Pipeline([
    ('mapper', mapper),
    ('imputer', IterativeImputer(random_state=42)),
])
# Lo entrenamos con train
pipe2.fit(train)

# Sample transformado con mean
pipe1.transform(sample)

array([[ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  1.00000000e+00,  0.00000000e+00,
        -5.76718947e-01,  1.15430913e+00],
       [ 0.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        -4.42600824e-01, -4.77608787e-01],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         1.37496296e-16, -1.56555406e+00],
       [ 0.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         1.37496296e-16,  1.15430913e+00],
       [ 0.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         1.37496296e-16, -4.77608787e-01]])

In [15]:
pipe2.transform(sample)

array([[ 0.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  1.        ,  0.        ,
        -0.57671895,  1.15430913],
       [ 0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  1.        ,  0.        ,  0.        ,
        -0.44260082, -0.47760879],
       [ 0.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  1.        ,
        -0.18166076, -1.56555406],
       [ 0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  1.        ,
        -0.10970536,  1.15430913],
       [ 0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  1.        ,
        -0.14533732, -0.47760879]])

In [6]:
train.drop(['city', 'relevent_experience', 'enrolled_university', 'education_level', 'major_discipline','experience','company_size','last_new_job'], axis=1, inplace=True)

In [7]:
train, not_train = train_test_split(train, test_size=0.3, random_state=1)
validation, test = train_test_split(not_train, test_size=0.5, random_state=1)

train.sample(5)

,enrollee_id,city_development_index,gender,company_type,training_hours,target,Relevent_experience_num,Enrolled_university_num,education_level_num,major_discipline_num,experience_num,company_size_num,last_new_job_num
11853,3959,0.624,Male,Pvt Ltd,92,0.0,1,0.0,3.0,STEM,6,100.0,5
6378,4341,0.558,NaN,Public Sector,51,1.0,1,1.0,3.0,STEM,6,50.0,2
13347,18961,0.624,NaN,NaN,32,0.0,0,1.0,2.0,NaN,0,NaN,-1
18196,22722,0.884,NaN,NaN,24,1.0,1,0.0,3.0,STEM,21,NaN,5
2445,18148,0.920,NaN,NaN,43,0.0,0,1.0,3.0,STEM,2,NaN,1

In [5]:
salidas = train.target
entradas = train.drop(['target'], axis=1)
modelo = LogisticRegression()
modelo.fit(entradas,salidas)

LogisticRegression()

In [6]:
print(not_train)

       enrollee_id  city_development_index  training_hours  target  \
2853           455                   0.899              52     0.0
3639         25284                   0.910              21     1.0
5865         15839                   0.910              42     0.0
706          28673                   0.920              20     1.0
9515         33246                   0.920              30     0.0
...            ...                     ...             ...     ...
2917         11962                   0.898              31     0.0
15867        32797                   0.926              46     0.0
6235         32634                   0.920              61     0.0
12030        26686                   0.910              77     0.0
17794        29209                   0.920              30     0.0

       Gender_num  Relevent_experience_num  Enrolled_university_num  \
2853            0                        1                        0
3639            1                        0                        0
5865            0                        1                        0
706             0                        1                        0
9515            0                        1                        1
...           ...                      ...                      ...
2917            0                        1                        0
15867           0                        1                        0
6235            1                        1                        0
12030           0                        1                        0
17794           0                        1                        1

       education_level_num  major_discipline_num  experience_num  \
2853                     0                     0               4
3639                     0                     3               2
5865                     0                     0               6
706                      0                     0              21
9515                     0                     0              19
...                    ...                   ...             ...
2917                     1                     0              21
15867                    1                     0              16
6235                     1                     0               7
12030                    0                     0               7
17794                    0                     0               7

       company_type_num  company_size_num  last_new_job_num
2853                  2               500                 2
3639                  0              5000                 2
5865                  1                50                 3
706                   1               100                 1
9515                  0              5000                 1
...                 ...               ...               ...
2917                  1                50                 1
15867                 1               100                 1
6235                  1             20000                 5
12030                 1               500                 1
17794                 5             20000                 2

[5748 rows x 13 columns]

In [7]:
resultados = not_train.target
not_train.drop(['target'], axis=1, inplace=True)

In [8]:
predict = modelo.predict(not_train)

print(accuracy_score(resultados,predict))
print(recall_score(resultados,predict))
print(precision_score(resultados,predict))

0.7559151009046625
0.02959830866807611
0.6176470588235294